{% extends "blog/base.html" %}

{% block title %}TripMap - 403{% endblock title %}
{% block content %}
<div class="container error-page">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>403</h1>
            <h2>Доступ запрещен</h2>
            <p>У вас недостаточно прав для просмотра этой страницы</p>
            <a href="{% url 'blog:post_list' %}" class="btn btn-warning">На главную</a>
        </div>
    </div>
</div>
{% endblock content %}