<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid page-header">
        <a class="navbar-brand" href="/"><h1>TripMap</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end p-3" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
            <div class="offcanvas-header">                        
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex justify-content-between">                                        
                <form class="d-flex" action="{% url 'blog:search' %}" method="get">
                    <input class="form-control me-2" 
                        name="qsearch" 
                        type="text" 
                        placeholder="Что ищем?" 
                        required oninvalid="this.setCustomValidity('Чтобы что-то найти нужно что-то спросить')" 
                        oninput="setCustomValidity('')">
                    <button class="btn btn-transparent btn-lg" type="submit">Поиск</button>
                </form>
                {% if user.is_authenticated %}     
                <div class="d-flex flex-column">                       
                    <a href="{% url 'blog:post_add' %}">
                        <button type="button" class="btn btn-transparent btn-lg">Добавить запись</button>
                    </a>                            
                </div>                       
                {% endif %}
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <div class="d-flex">
                            <a href="{% url 'users:profile' %}">
                                <button type="button" class="btn btn-transparent btn-lg">{{user.username}}</button>
                            </a>                                
                            <button type="submit" class="btn btn-transparent btn-lg">Выход</button>
                    {% else %}
                        <a href="{% url 'users:login' %}">
                            <button type="button" class="btn btn-transparent btn-lg">Вход</button>
                        </a>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</nav>