{% extends "blog/base.html" %}

{% block title %}TravelMap - Создание записи{% endblock title %}
{% block content %}
<div>
    <h1>Новая запись</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>            
            <input class="mb-3" type="text" placeholder="Заголовок записи" name="title" id="title">
            <br>            
            <input class="mb-3" type="text" placeholder="Основной текст" name="text" id="text">
            <br>
            <input class="mb-3" type="file" accept="image/*" name="image" id="image">            
            <br>
            <button class="btn btn-success" type="submit" name="Add" value="Add">Опубликовать</button>
        </div>
    </form>
</div>
{% endblock content %}