{% extends "blog/base.html" %}

{% block title %}TravelMap - Обновление записи {{ post.title }}{% endblock title %}
{% block content %}
<div>
    <h1>Изменение записи {{ post.title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>            
            <input class="mb-3" type="text" value="{{ post.title }}" placeholder="Заголовок записи" name="title" id="title">
            <br>            
            <input class="mb-3" type="text" value="{{ post.text }}" placeholder="Основной текст" name="text" id="text">
            <br>
            <img src="{{ post.photo.url }}" width="500">
            <br>
            <input class="mb-3" type="file" accept="image/*" name="image" id="image">            
            <br>
            <button class="btn btn-warning" type="submit" name="Add" value="Add">Изменить</button>
            <a class="nav-link" href="{% url 'blog:post_detail' pk=post.pk%}">Отмена</a>            
        </div>
    </form>
</div>
{% endblock content %}