{% extends "blog/base.html" %}

{% block title %}TravelMap - {{ post.title }}{% endblock title %}
{% block content %}
    <div class="post">
        {% if post.published_date %}            
        
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a class="bi bi-arrow-left fs-4 me-3" href="{% url 'blog:post_list' %}"></a>
                        <h2 class="mb-0">{{ post.title }}</h2>
                        {% if user.id == post.author.id %}
                            <div class="d-flex justify-content-end">
                                <a class="bi bi-pencil fs-4" href="{% url 'blog:post_update' pk=post.pk %}"></a>
                                <a class="bi bi-file-earmark-x fs-4 ms-3" href="{% url 'blog:post_confirm_delete' pk=post.pk %}"></a>
                            </div>
                        {% endif %}
                    </div>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-fluid mb-3" alt="{{ post.title }}" width=300px>
                    {% endif %}
                    <p>{{ post.text | linebreaksbr }}</p>
                </div>
            
        {% endif %}
    </div>
{% endblock content %}