{% extends "blog/base.html" %}

{% block title %}TravelMap - Удаление записи{% endblock title %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="mb-4">Удаление записи</h1>
            <form method="post">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить запись "{{ post.title }}"?</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="img-fluid mb-3" alt="{{ post.title }}">
                {% endif %}
                <div class="d-flex justify-content-between">
                    <input class="btn btn-danger" type="submit" value="Удалить">
                    <a class="btn btn-secondary" href="{% url 'blog:post_detail' pk=post.pk %}">Отмена</a>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}