{% extends "blog/base.html" %}

{% block title %}TravelMap - Все маршруты{% endblock title %}
{% block content %}
{% comment %} СТРОЧКУ НИЖЕ УДАЛИТЬ ПРИ ЗАВЕРШЕНИИ ОТЛАДКИ {% endcomment %}
<h1 class="mb-3 mt-3" style="color: dimgray">Уважаемые гости! Сайт находится на этапе разработки и тестирования, некоторые функции могут не работать или работать не корректно. Все пофиксим в ближайшее время.</h1><hr>
    {% for post in posts %}
        <div class="col-md-8 m-3">
            <div class="post"> 
                <a href="{% url 'blog:post_detail' pk=post.pk %}">    
                <h1>{{ post.title }}</h1>
                <div class="published">
                    <p class="mb-1">Опубликовано: {{ post.published_date }}</p>
                    <p>Автор: {{ post.author }}</p>
                </div>
                <div class="row">
                    <div class="col-4 mb-3">
                        {% if post.image %}
                            <img class="rounded mx-auto d-block" src="{{ post.image.url }}" height="150">
                        {% endif %}
                    </div>
                    <div class="col-8 mb-3">
                        <p class="post-list-text">{{ post.text | linebreaksbr }}</p>
                    </div>
                </div>
                </a>
            </div>            
        </div>
    {% endfor %}
{% endblock content %}
