h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;           
    padding-right: 15px;  
    color: dimgray;         
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
    min-width: 910px;
}

nav {
    box-shadow: 0px 5px 5px gray;
}

.search-button {
    color: dimgray;
    font-size: 42px;
    text-decoration: none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 42pt;
    text-decoration: none;
}



.text-body {
    font-family: 'Lobster', cursive;
    --bs-text-opacity: 1;
    color: dimgray !important;
    font-size: 25pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: dimgray;
}

.save {
    float:right
}

.post-form textarea, .post-form input {
    width: 100%;
}
/* 
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
} */

.post {
    box-shadow: 0px 5px 5px gray;
    padding: 1rem;
    transition: 0.3s;
    min-width: 620px;
    }

.post:hover {
    transform: scale(1.0);
    box-shadow: 5px 10px 5px darkgray;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    text-decoration: none;
}

.post h1, .post p {
    color: dimgray
}

.post a {
    text-decoration: none;
    color: #000000;
}

.post-list-text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.published p {
    text-align: end;
}




