{% extends "blog/base.html" %}

{% block content %}
    {% if user.profile %}
        
            
                <div class="col-12 col-md-4 mb-3">
                    {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" class="img-fluid rounded-circle" alt="{{ user.username }}">
                    {% endif %}
                </div>
                <div class="col-12 col-md-8">
                    <h2 class="mb-4">Профиль</h2>
                    <div class="row">
                        <div class="col-6">
                            <p>Имя пользователя:</p>
                            <p>Город:</p>
                            <p>Email:</p>
                            <p>Телефон:</p>
                            <p>Пол:</p>
                            <p>Возраст:</p>
                        </div>
                        <div class="col-6">
                            <p>{{ user.username }}</p>
                            <p>{{ user.profile.city }}</p>
                            <p>{{ user.email }}</p>
                            <p>{{ user.profile.contact_number }}</p>
                            <p>{{ user.profile.sex }}</p>
                            <p>{{ user.profile.age }}</p>
                        </div>
                    </div>
                    <a href="{% url 'blog:posts_user' id=user.id %}" class="btn btn-warning mt-3">Записи пользователя</a>
                </div>
            </div>
        
    {% else %}
        <div>
            <h2>Заполнение профиля</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>    
                    <input class="mb-3" type="file" accept="image/*" name="upload" id="upload" required>            
                    <br>        
                    <input class="mb-3" type="text" placeholder="Город" name="city" id="city">
                    <br>            
                    <input class="mb-3" type="text" placeholder="Телефон +7.........." name="contact_number" id="contact_number">
                    <br>
                    <input class="mb-3" type="text" placeholder="Ваш пол" name="sex" id="sex" list="sexy">
                        <datalist id="sexy">
                            <option value="мужской" />
                            <option value="женский" />                
                        </datalist>
                    <br>
                    <input class="mb-3" type="number" placeholder="Ваш возраст" name="age" id="age">            
                    <br>
                    <button class="btn btn-warning" type="submit" name="Add" value="Add">Сохранить</button>            
                </div>
            </form>
        </div>
    {% endif %}   
{% endblock content %}
