{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <h1>Профиль</h1>         
    <div class="row"> 
        <div class="col-4"> 
            <img src="" class="rounded-circle"> 
        </div> 
        <div class="col-3"> 
            <p class="mb-3 d-flex justify-content-end"> Имя пользователя:<p> 
            <p class="mb-3 d-flex justify-content-end"> Город:<p> 
            <p class="mb-3 d-flex justify-content-end"> Email:<p> 
            <p class="mb-3 d-flex justify-content-end"> Телефон:<p>                         
            <p class="mb-3 d-flex justify-content-end"> Пол:<p> 
            <p class="mb-3 d-flex justify-content-end"> Возраст:<p> 
            <a href="{% url 'blog:posts_user' id=user.id %}"><p class="mb-3 d-flex justify-content-end">Записи пользователя</p></a>
        </div>
        <div class="col-5"> 
            <p class="mb-3"> {{user.username}}<p> 
            <p class="mb-3"> {{user.city}}<p> 
            <p class="mb-3"> {{user.email}}<p> 
            <p class="mb-3"> {{user.contact_number}}<p> 
            <p class="mb-3"> {{user.sex}}<p> 
            <p class="mb-3"> {{user.age}}<p> 
            <p class="mb-3"> {{user.post_count}}<p> 
        </div> 
    </div> 
    <div class="row">                   
        <p class="mb-3">Расскажите немного о себе<p> 
        <input class="align-top" style="width: 100%; height:150px" type"textarea"> 
    </div>
{% endblock content %}