{% extends "blog/base.html" %}

{% block content %}
    <div class="container pb-3">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label>Имя пользователя:</label>
                <p class="mb-3">{{ form.username }}</p>
                <label>Электронная почта</label>
                <p class="mb-3">{{ form.email }}</p>
                <label>Пароль:</label>
                <p class="mb-3">{{ form.password1 }}</p>
                <label>Подтверждение пароля:</label>
                <p class="mb-3">{{ form.password2 }}</p>
            </div>
            <button class="btn btn-warning" type="submit">Регистрация</button>
        </form>
    </div>
{% endblock content %}